<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
		<add id="MagEx_Base::top_level" title="MagEx" translate="title" module="MagEx_Base"
             sortOrder="20" dependsOnModule="Magento_Backend" resource="MagEx_Base::top_level"/>
    </menu>
</config>
